body {
  width: 100vw;
  height: 100vh;
  background: #f26659;
  font-size: 24px;
}

.header {
  width: 100vw;
  height: 10vh;
}
.container {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}
.header__menu {
  height: 100%;
}
.header__menu-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  padding: 15px;
  text-align: center;
  background: #ebc999;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}

.client-list__add-btn.btn-hover {
  width: 100%;
  margin: 20px 0;
}

.car-list__add-btn.btn-hover {
  width: 100%;
  margin: 20px 0;
}

.header__menu-btn {
}
.header__menu-btn--active {
}

.main__client-list-wrapper {
  display: none;
}

.main__client-list-wrapper--active {
  display: block;
}

.main__car-list-wrapper {
  display: none;
  transition: ease-in-out 0.5s;
}

.main__car-list-wrapper--active {
  display: block;
  transition: ease-in-out 0.5s;
}

.main__list-item-inner {
  text-align: center;
}

.main__list-item {
  position: relative;
  background-color: #8ca9d3;
  border-radius: 20px;
  margin: 5px 0;
  transition: ease-in-out 0.5s;
}

.main__list-item-info {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  margin: 0 auto;
  left: 0;
  top: 0;
  transition: ease-in-out 0.5s;
}

.main__list-item-control.show {
  padding-bottom: 100px;
}

.main__list-item-info.show {
  animation: 0.5s ease-in-out showInfo;
  top: 55%;
  z-index: 1;
  opacity: 1;
}

@keyframes showInfo {
  0% {
    top: 0;
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  90% {
    top: 55%;
    opacity: 1;
    z-index: 1;
  }
}

.main__list-item-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  transition: ease-in-out 0.5s;
}
.main__list-item-text {
  width: 50%;
}
.main__list-item-name {
}
.main__list-item-btns {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.edit-btn {
}
.delete-btn {
}
.show-btn {
}

.main__list-item-table {
  margin: 0 auto;
  width: 80%;
}
.main__list-item-table,
th,
td {
  border: 2px solid #f26659;
  vertical-align: middle;
}

.main__list-item-table-header {
  height: 30px;
  text-align: center;
}

.main__list-item-table-body {
  height: 30px;
  text-align: center;
  border: 1px solid #f26659;
}

.main__form-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  border-radius: 50px;
  background-color: #8ca9d3;
  transition: ease-in-out 0.5s;
}

.main__close-btn {
  position: absolute;
  z-index: 1;
  right: 1%;
  top: 3%;
  width: 4%;
  height: 5%;
  cursor: pointer;
}

.main__form-container--active {
  display: block;
  transition: ease-in-out 0.5s;
}

.main__form-inner {
  padding: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main__form {
  display: none;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
.main__form-client {
}
.main__form--active {
  display: block;
}

.main__form-label-container {
  width: 100%;
  padding: 20px 0;
  position: relative;
}
.main__form-warning {
  position: absolute;
  width: 100%;
  left: 0;
  top: 84%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.main__form-warning--error {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  background-color: red;
}

.main__form-label {
  display: block;
  font-size: 24px;
}
.main__form-input {
  width: 100%;
  display: block;
  font-size: 24px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.main__form-input--error {
  background-color: red;
}

.main__form-warning-text {
  padding: 0 10px;
}

.main__prompt-message {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 30vh;
  transform: translate(-50%, -50%);
  background-color: #8ca9d3;
  border-radius: 20px;
  z-index: 2;
  display: none;
}
.main__prompt-message--active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__prompt-message::after {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(235, 201, 153, 0.1);
}

.main__form-send-btn.btn-hover {
  width: 100%;
  margin: 20px 0;
}

.main__prompt-message-control {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agree-btn,
.disagree-btn {
  margin: 60px;
  cursor: pointer;
}

.slider {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
}

.slider--first-slide {
  background-color: rgb(245, 204, 97);
  z-index: 1;
}

.slider--second-slide {
  background-color: #8ca9d3;
  z-index: 2;
}

.slider--third-slide {
  background-color: #f26659;
  z-index: 3;
}

@keyframes slideAnimation {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

.slider--first-animation {
  animation: 1s ease-in-out slideAnimation;
}
.slider--second-animation {
  animation: 1s ease-in-out 0.2s slideAnimation;
}

.slider--third-animation {
  animation: 1s ease-in-out 0.4s slideAnimation;
}

/*button animation*/
.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-4 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-11 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
